<!DOCTYPE html>
<html>
<%include ./partials/headerb%>
  <head>
    <meta charset="utf-8">
    <title>DESTINATION</title>
  </head>
  <h1>LIST DESTINATION</h1>
  <body>
    <%if(err){%>
      err.message
    <%}%>
    <table border = "1">
      <thead>
        <td>No.</td>
        <td>Location</td>
        <td>Departure</td>
        <td>Arrival</td>
      </thead>
      <%dataUsers.Destinations.forEach((data,index)=>{%>
          <tr>
              <td><%= index+1 %></td>
              <td><%=data.location%></td>
              <td><%=data.departure%></td>
              <td><%=data.arrival%></td>
              <td> <a href="/users/berangkaters/showlist/<%=dataUsers.id%>/<%=data.id%>"><button type="button" name="button">LIHAT PESANAN</button></a> </td>
              <td> <a href="/users/berangkaters/update/<%=data.id%>"><button type="button" name="button">UPDATE</button></a> </td>
              <td> <a href="/users/berangkaters/delete/<%=data.id%>"><button type="button" name="button">DELETE</button></a> </td>
          </tr>
      <%})%>
    </table>
  </body>
</html>
